@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --clr-red: #f55a5a;
  --ff-main: "Inter", sans-serif;
  --clr-background-light: #ffffff;
  --clr-text-main: #2b283a;
  --clr-text-light: #918e9b;  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

html {
  font-family: var(--ff-main);
  margin: 0;
  padding: 0;  
  scroll-behavior: smooth;
}


/*NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em 0;
  color: var(--clr-background-light);
  background-color: var(--clr-red);
  gap: 0.5em;
}

.nav--title {
  font-weight: 500;
  line-height: 1em;
  letter-spacing: -0.065em;  
}

.nav--logo {
  height: 2em;
}



/*CARD */
.cards-list {
  display: flex;
  flex-direction: column;
  padding: 4em 3em;
}
.card {
  display: flex;
  padding: 2em 0;
}
.card--img {
  height: 100%;
  width: 20em;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.3em;
}

.card--info {
  margin-left: 1em;
  padding: 0.5em;
}

.card--location-icon {
  color: var(--clr-red);
}

.card--location {
  display: inline-block;
  margin: 0 1em 0 0.25em;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--clr-text-main);
}

.card--location-url {
  color: var(--clr-text-light);
  font-size: 0.75rem;
}

.card--title {
  font-size: 2rem;
  margin: 0.25em 0;
  font-weight: 700;
}

.card--description {
  max-width: 50rem;
  margin-top: 2em;
}

.card--date {
  font-weight: 700;
}

.card--description {
  max-width: 50rem;
  margin-top: 2em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}


/*FOOTER */
.footer {
  padding: 1.25em 2.25em;
  background-color: var(--clr-red);
  color: var(--clr-background-light);
  text-align: center;  
}

.footer--link {
  text-decoration: none;
  color: inherit;
}

.footer--link:hover {
  text-decoration: underline;
}


/* MEDIA*/
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card--img {
    width: 100%;
  }

  .card--info {
    margin: 1em 0 0 0;
    padding: 0;
  }

  .card--location {
    letter-spacing: 0;
  }
}